body {
    background-color: beige;
    margin: 0 50px;
}

.container {
    display: flex;
    gap: 50px;
}

#msg {
    color: red;
}

#posts{
    width: 400px;
}

#posts div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

i {
    cursor: pointer;
}

.options {
    display: flex;
    gap: 25px;
}